    <footer class="footer">
      <div class="container">
        <p class="text-muted pull-right"><a href="http://github.com/dewafer/next" target="_blank" class="text-muted">获取源代码</a> &nbsp; &copy; dewafer</p>
      </div>
    </footer>